.order {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.order_list{
  margin:0 10% 0 10%
}
.navbar  {
  background-color: #007294;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  margin: 0 0 2.5% 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  border: solid 1px #006e8b;
  box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #007b9d;
  height: 86px;
}

.navbar__links {
  position: absolute;
  right: 40px;
  top: 1px;
  line-height: 84px;
  text-transform: lowercase;
  font-size: 1.3em;
  letter-spacing: -1px;
}
.navbar_link
{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0 25px 0 25px;
  outline: 0;
}



.fade-enter .btn {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .btn {
  opacity: 0;
  transform: translateX(0%);
  transition: opacity 0ms, transform 0ms;
}
.fade-exit .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .btn {
  opacity: 0;
  transform: translateX(0%);
  transition: opacity 300ms, transform 0ms;
}

